<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lajus KM | Topics</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="stylesheet" href="/css/main.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/png" href="/img/kafka-logo.png">
</head>
<body>

<header id="header" v-cloak>
    <nav-bar-app active="topics"></nav-bar-app>
</header>

<main id="app" v-cloak>

    <waiting v-if="waiting"></waiting>

    <div class="container">
        <h1>Topics</h1>

        <div class="row" v-if="topics.length > 0">

            <div class="col m8">
                <div class="input-field col s12">
                    <i class="material-icons prefix">textsms</i>
                    <input type="text" id="filter" v-model="filter">
                    <label for="filter">Filter by topic name</label>
                </div>
            </div>

            <div class="col m8 s12"  v-if="filterTopics.length > 0">
                <ul class="collapsible">
                    <li v-for="(topic, index) in filterTopics">
                        <div class="collapsible-header">
                            <strong>{{ topic.name }}</strong><span class="new badge" data-badge-caption="records">{{ topic.records }}</span>
                        </div>
                        <div class="collapsible-body">
                            <span>Bootstrap server: <strong>{{ topic.bootstrap }}</strong></span><br>
                            <span>Key serializer: <strong v-if="topic.keySerializer == 0">String/JSON/Byte</strong><strong v-else>Avro</strong></span><br>
                            <span>Value serializer: <strong v-if="topic.valueSerializer == 0">String/JSON/Byte</strong><strong v-else>Avro</strong></span><br>
                            <div v-if="topic.schemaRegistry"><span>Schema registry: <strong>{{ topic.schemaRegistry }}</strong></span><br></div>
                            <span>Register date: <strong>{{ topic.date }}</strong></span><br>
                            <br>
                            <a class="waves-effect waves-light btn teal darken-4" :href="'/topics/' + topic.id">Show records <i class="material-icons right">dehaze</i></a>
                            <a class="waves-effect waves-light btn orange darken-4" v-on:click="openUpdateModal(index)">Edit topic <i class="material-icons right">edit</i></a>
                            <a class="waves-effect waves-light btn grey darken-4 right" v-on:click="removeTopic(index)">Remove topic <i class="material-icons right">delete</i></a>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col m8 s12" v-else>
                <h4>No topics founds</h4>
            </div>

            <div class="col m4 s12">
                <div class="card blue-grey darken-4" v-if="topics.length > 0">
                    <div class="card-content white-text">
                        <span class="card-title">Total topics: {{ topics.length }}</span>
                        <p>Total records: <strong>{{ records }}</strong></p>
                    </div>
                </div>
            </div>

        </div>

        <div class="row" v-else>
            <h4>No topics yet</h4>
        </div>

        <div class="row" style="margin-top: 40px;">
            <a class="waves-effect waves-light btn-large indigo darken-4" v-on:click="openNewTopicModal">Add new topic <i class="material-icons right">add</i></a>
        </div>

        <div id="modalTopic" class="modal">
            <div class="modal-content">
                <h4 v-if="topic.id == 0">Add new topic</h4>
                <h4 v-else>Update topic</h4>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="topicName" type="text" v-model="topic.name">
                        <label for="topicName">Name</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="topicBootstrap" type="text" v-model="topic.bootstrap">
                        <label for="topicBootstrap">Bootstrap server</label>
                    </div>
                    <div class="col s12">
                        <label>Key serializer</label>
                        <select v-model="topic.keySerializer" class="browser-default">
                            <option value="-1" disabled>Choose topic key serializer</option>
                            <option value="0">String/JSON/Byte</option>
                            <option value="1">Avro</option>
                        </select>
                    </div>
                    <div class="col s12">
                        <label>Value serializer</label>
                        <select v-model="topic.valueSerializer" class="browser-default">
                            <option value="-1" disabled>Choose topic value serializer</option>
                            <option value="0">String/JSON/Byte</option>
                            <option value="1">Avro</option>
                        </select>
                    </div>
                    <div class="input-field col s12">
                        <input id="topicSchemaRegistry" type="text" v-model="topic.schemaRegistry">
                        <label for="topicSchemaRegistry">Schema registry</label>
                    </div>
                    <br>
                    <div class="col s12" style="margin-top: 20px;">
                        <a class="waves-effect waves-light btn-large indigo darken-4" v-on:click="addTopic" v-if="topic.id == 0">Add topic</a>
                        <a class="waves-effect waves-light btn-large indigo darken-4" v-on:click="updateTopic" v-else>Update topic</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</main>

<footer class="page-footer app-color" id="footer" v-cloak>
    <footer-app></footer-app>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src="/js/components/waiting.js"></script>
<script src="/js/components/nav-bar-app.js"></script>
<script src="/js/components/footer-app.js"></script>

<script src="/js/index.js"></script>
<script src="/js/header.js"></script>
<script src="/js/footer.js"></script>

</body>
</html>